<h1 class="cabecalho">
    <i class="fa-solid fa-wifi" style="color: rgb(255, 255, 255);"></i>
    Sistema de wi-fi senai Americana
    <i class="fa-solid fa-wifi" style="color: rgb(255, 255, 255);"></i>
</h1>
@code {

}
